body{
    font-family: 'Quicksand', sans-serif;
    background-color: rgba(0, 0, 0, 1);
    background-image: url(bgOptimized.jpg);
    background-position: fixed;
    background-size: cover;

    color: bisque;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2em;
    cursor: pointer;
}

.shadow {
    display: flex;
    flex-direction: column;

    border-radius: 15px;
    
    box-shadow: 4px 4px 18px 4px rgba(0,0,0,0.6);

    transition: .2s ease-out;
    
}

#display {
    background: rgb(162, 231, 222);
    height: 70px;
    

    padding-top: 20px;
    padding-left: 10px;
    color: #000;
    font-size: 2em;
    border-radius: 15px 15px 0 0;

    -moz-box-shadow:    inset 0 0 10px #afa5a5;
    -webkit-box-shadow: inset 0 0 10px #afa5a5;
    box-shadow:         inset 0 0 5px #888282;
    
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}


.bt {
    background-color: rgba(255, 255, 255, 1);
    padding: 0;
    margin: 0;
    height: 70px;
    color: black;
    flex: 1 25%;
    transition-duration: .2s;
}
.equal {
  
    flex-grow: 100;
    border-radius: 0 0 15px 0;
}

.num0 {
    
    border-radius: 0 0 0 15px;
}

.bt:hover {
    border: 1px solid silver;
    box-shadow: inset 0 0 2px #888282;
}

.bt:active {
    /* transition: transform .5s, background .3s; */
    transform: scale(.98);
    background: rgb(236, 234, 234);
}

.bt:focus {
    background-color:rgb(223, 217, 217);
    outline: none;
    border: 1px solid silver;
}

.buttons,
#display {
    transition: .7s opacity cubic-bezier(0,0,.32,.99);
}

*{
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }

/* 
        Interactions
*/
/* .equal:hover {
    transform: scale(.95);
    
}

.buttons:hover {
    background: rgb(245, 212, 212);
    color: #fff;

    transition: transform .6s;

    /* border-radius: 10px; */
    /*
    transform: scale(.9);
    text-shadow: 2px 2px 3px #000;
} */

.debug {
    border: 3px solid red;
}

@media (min-width: 769px) {
    .container {
        width: 600px;
    }
}